body {
	background: url("../img/american-flag.jpg");
	text-align: center;
	width: 1000px;
	margin-left: 20%;
	border: 1px solid black;
}

header {
	background: -webkit-linear-gradient(#00a1ff, #006aff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#00a1ff, #006aff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#00a1ff, #006aff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#00a1ff, #006aff); /* Standard syntax */
	font-family: "Comic Sans MS", cursive, sans-serif;
    border-bottom: 1px solid black;
    padding: 5px;
}

.menu {
    width: 150px;
    position: fixed;
    top: 40px;
    left: 25%;
}

.menu a {
	display: block;

	background: -webkit-linear-gradient(#E60000, #B20000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#E60000, #B20000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#E60000, #B20000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#E60000, #B20000); /* Standard syntax */

	padding-top: 10px;
	padding-bottom: 10px;
	
	border: 1px solid black;
	border-radius: 8px;

	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 14px;
}

.menu a:link, .menu a:visited {
	color: black;
	text-decoration: none;
}

.menu a:hover {
	background: -webkit-linear-gradient(#E60000, #B20000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#E60000, #B20000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#E60000, #B20000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#E60000, #B20000); /* Standard syntax */
}

section {
	background: white;
	min-height: 295px;
    padding: 10px;
    /*border: 1px solid black;*/
}

footer {
	background: white;
    clear: both;
    text-align: center;
    border-top: 1px solid black;
    padding: 5px;
}