body {
	text-align: center;
	width: 1000px;
	margin-left: 20%;
}

hr {
	width: 1000px;
}

.header {
	width: 1000px;
	margin-left: 20%;
}

.main {
	background-color: gray;
	/*width: 1000px;
	margin-left: 20%;*/
}

.menu div {
	width: 150px;
}

.menu a:link {
	color: black;
	text-decoration: none;
}
.menu a:visited {
	color: white;
}

.btn {
	background: -webkit-linear-gradient(#00a1ff, #006aff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#00a1ff, #006aff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#00a1ff, #006aff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#00a1ff, #006aff); /* Standard syntax */

	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	
	border: 1px solid black;
	border-radius: 8px;

	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 14px;

	width: 150px;
}

.btn:hover {
	background: -webkit-linear-gradient(#006aff, #00a1ff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#006aff, #00a1ff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#006aff, #00a1ff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#006aff, #00a1ff); /* Standard syntax */
}