<section>
	<h1>About</h1>
	<h2>Mission Statement</h2>
	<p>The mission of Vote School is to encourage potential and registered voters to consider why they choose to vote, understand what impact their vote has on society and why it is important to care about voting, take a greater responsibility for their vote, and educate themselves on candidates, issues, etc, when making the decision to vote.</p>

	<p>The mission of Vote School is to encourage potential and registered voters to consider why they choose vote and to assist and inspire them to take greater responsibility in educating themselves prior to voting.</p>

	<p>The mission of Vote School is to encourage potential and registered voters to consider why they choose to vote, inspire them to take greater responsibility for their vote, and assist voters in their self-education.</p>

	<p>Vote School exists to encourage potential and registered voters to sincerely consider why they choose to vote, inspire them to take greater responsibility for their vote, and assist voters in developing knowledge and skills necessary for smart voting decisions.</p>

	<p>Our mission: Working tirelessly to unlock the full potential of an educated electorate by helping them understand the power and responsibility they hold as eligible voters, providing them the tools necessary to cut through bias and propaganda to find the valuable information hidden beneath, and aiding in the fight to eliminate the impulse to diminish and ignore the ideals of opposing parties.</p>

	<p>Our mission: Empowering the American people by helping create a new class of well educated and responsible voters.</p>
</section>